.card {
    background: #1e1e1e;
    border: 1px solid #444444;
    border-radius: 8px;
    padding: 32px;
    text-align: center;
    color: white;
    flex-shrink: 0;
    transition: transform 0.3s all ease;
  
    &:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
      border-color: #666;
      background: #2a2a2a;
    }
  
    .image {
      border-radius: 12px;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      margin-bottom: 24px;
    }
  
    .title {
      font-size: 24px;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      line-height: 28.8px;
      margin-bottom: 8px;
    }
  
    .subtitle {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      line-height: 22.4px;
    }
  
    .button {
      margin-top: 16px;
      padding: 12px;
      border: 1px solid #949494;
      border-radius: 8px;
      background: #303030;
      cursor: pointer;
      transition: background 0.3s, border 0.3s;
      color: white;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      width: 100%;
      line-height: 16px;
  
      &:hover {
        background: #ffffff22;
        border-color: #ccc;
      }
    }
  }
  